ML_CV/D0321/model/rf_model.joblib
ML_CV/D0321/model/dt_model.joblib

ML_CV/D0321/model/

DL/_data/
DL/_image/
DL/PROJECT_DL/Frest Fire/

NLP/_data/
NLP/D0411/data
NLP/D0411/models

Flask/static/
NLP/PROJECT_NLP/_data